@import "tailwindcss";

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --border: #e4e4e7;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --border: #27272a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  transition: background-color 0.2s, border-color 0.2s;
}